<!--Style Page-->
    <style>
        body{
            text-align: center;
            background-color: white;
        }
        .login1{
            background-color: lightgray;
            width: 50%;
            margin: 0 auto;
            align-items: center;
            border: 3px solid #FFCC33;
            color: black;
            border-radius: 25px;
        }
        .Header{
            background-color: #303030;
            color: #FFCC33;
            text-align: center;
            padding: 50px;
            font-size: 40;

        }
        .login {
          text-align: center;
        }

        .button{
            background-color: gainsboro;
            border-radius: 25%;
            border-color: aliceblue;
            text-align: center;

        }
        .header2{
            font-size: 26;
        }

        #Security{
          text-align: justify;
          border-style: solid;
        }
    </style>
